<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>248800310739-pqo2nebqe2oppcnaurm2u9ilofn7peks.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.248800310739-pqo2nebqe2oppcnaurm2u9ilofn7peks</string>
	<key>API_KEY</key>
	<string>AIzaSyDd0COqYezszAOsl67uJQiB4qqQMmbGtoc</string>
	<key>GCM_SENDER_ID</key>
	<string>248800310739</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Anis-Agwan.Corus-iOS-App</string>
	<key>PROJECT_ID</key>
	<string>corus-ios-app</string>
	<key>STORAGE_BUCKET</key>
	<string>corus-ios-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:248800310739:ios:a9faf5114a9fbe9a7d6b26</string>
</dict>
</plist>